<template>
  <v-container fill-height align-start>
    <v-layout column>
      <!-- <div class="headline">Settings</div> -->
      <!-- <v-list three-line subheader>
        <v-subheader>User Controls</v-subheader>
        <v-list-tile avatar>
          <v-list-tile-content>
            <v-list-tile-title>Content filtering</v-list-tile-title>
            <v-list-tile-sub-title>Set the content filtering level to restrict apps that can be downloaded</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile avatar>
          <v-list-tile-content>
            <v-list-tile-title>Password</v-list-tile-title>
            <v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider></v-divider> -->
      <div class="subheading pb-2">General</div>
      <v-card>
        <!-- <v-card-title>General</v-card-title> -->
        <v-card-text>
          <v-list two-line subheader>
            <!-- <v-subheader>General</v-subheader> -->
            <v-list-tile avatar>
              <v-list-tile-action>
                <v-checkbox v-model="isDark"></v-checkbox>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Dark theme</v-list-tile-title>
                <v-list-tile-sub-title>Enable dark app theme</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card-text>
      </v-card>
      <div class="subheading pt-4 pb-2">Drill</div>
      <v-card>
        <v-card-text>
          <v-list three-line subheader>
          </v-list>
        </v-card-text>
      </v-card>
      <div class="subheading pt-4 pb-2">Music</div>
      <v-card>
        <v-card-text>
          <v-list two-line subheader>
          </v-list>
        </v-card-text>
      </v-card>
      <div class="subheading pt-4 pb-2">Tools</div>
      <v-card>
        <v-card-text>
          <v-list two-line subheader>
          </v-list>
        </v-card-text>
      </v-card>
      <!-- <v-spacer></v-spacer>
      <v-btn flat @click.native="save">Save</v-btn> -->
    </v-layout>
  </v-container>
</template>

<script>
export default {
  metaInfo: {
    title: 'Settings'
  },
  data () {
    return {
      // isDark: this.$store.state.settings.isDarkTheme,
      radioGroup: 1
    }
  },
  computed: {
    isDark: {
      get () {
        return this.$store.state.settings.isDarkTheme
      },
      set (value) {
        this.$store.dispatch(value ? 'settings/setDarkTheme' : 'settings/setLightTheme')
      }
    }
  }
  /* methods: {
    save () {
      this.$store.dispatch(this.isDark ? 'settings/setDarkTheme' : 'settings/setLightTheme')
    }
  } */
}
</script>
