<template>
  <div>
    <b-field horizontal label="Performer Type">
      <b-select v-model="type" placeholder="Select type" expanded>
        <option
          v-for="performer in performers"
          :value="performer"
          :key="performer.symbol">
          {{ performer.name }}
        </option>
      </b-select>
    </b-field>

    <b-field horizontal label="Performer Squad">
      <b-select v-model="squad" placeholder="Select squad" expanded>
        <option
          v-for="squad in type.squads"
          :value="squad"
          :key="squad">
          {{ squad }}
        </option>
      </b-select>
    </b-field>

    <b-field horizontal label="Performer Position">
      <b-select v-model="position" placeholder="Select position" expanded>
        <option
          v-for="position in type.positions"
          :value="position"
          :key="position">
          {{ position }}
        </option>
      </b-select>
    </b-field>
  </div>
</template>

<script>
export default {
  data () {
    return {
      performers: [
        {
          name: 'Baritone',
          symbol: 'B',
          squads: [1, 2, 3, 4],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Trombone',
          symbol: 'R',
          squads: [5, 6, 7, 8, 9, 10, 11, 12],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Mellophone',
          symbol: 'M',
          squads: [13, 14, 15, 16],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Trumpet',
          symbol: 'T',
          squads: [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Tenor Saxophone',
          symbol: 'L',
          squads: [31, 32],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Alto Saxophone',
          symbol: 'A',
          squads: [33, 34, 35, 36],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Clarinet',
          symbol: 'C',
          squads: [37, 38, 39, 40],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Piccolo',
          symbol: 'P',
          squads: [41, 42, 43, 44],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Sousaphone',
          symbol: '8',
          squads: [45, 46, 47, 48],
          positions: ['A', 'B', 'C', 'D']
        },
        {
          name: 'Snare Drum',
          symbol: '_',
          squads: ['Drumline'],
          positions: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        },
        {
          name: 'Bass Drum',
          symbol: 'i',
          squads: ['Drumline'],
          positions: [1, 2, 3, 4, 5, 6, 7]
        },
        {
          name: 'Tenor Drum',
          symbol: 'n',
          squads: ['Drumline'],
          positions: [1, 2, 3, 4]
        },
        {
          name: 'Cymbal',
          symbol: 'z',
          squads: ['Drumline'],
          positions: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        },
        {
          name: 'Color Guard',
          symbol: 'G',
          squads: ['Color Guard'],
          positions: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        },
        {
          name: 'Illinette',
          symbol: '*',
          squads: ['Illinettes'],
          positions: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        },
        {
          name: 'Twirler',
          symbol: '~',
          squads: ['Twirlers'],
          positions: ['A', 'B']
        },
        {
          name: 'Drum Major',
          symbol: '!',
          squads: ['Drum Majors'],
          positions: ['A', 'B', 'C']
        }
      ]
    }
  }
}
</script>
